@import "tailwindcss";

@layer base {
  body {
    /* using explicit colors to avoid tailwind unknown utility errors */
    background-color: #121212;
    color: white;
  }
}

:root {
  --color-primary: #121212;
  --color-purple: #7C3AED;
  --color-yellow: #FACC15;
  --color-red: #EF4444;
}

@layer utilities {
  .animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out forwards;
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
